<meta property="og:locale" content="en_US" />
<meta property="og:type" content="website" />
<meta property="og:title" content="Welcome to FSL - Best in Logistics" />
<meta property="og:description" content="Fraley & Schilling Logistics, known simply as FSL, provides quality logistcs in the Eastern states!  Integrity. Safety. Innovation." />
<meta property="og:url" content="https://www.gofsl.com/" />
<meta property="og:site_name" content="FSL" />
<meta property="og:image" content="https://www.gofsl.com/images/fsl-logo.png" />
<meta property="og:image:secure_url" content="https://www.gofsl.com/images/fsl-logo.png" />
<meta property="fb:admins" content="fraze9" />


<link rel="Shortcut Icon" href="/images/fslfav.ico" />
<link href="/_internal/fsl.min.css?v1.1.14" rel="stylesheet" />