<ul class="nav-docurrent">
    <li class="show-on-sticky first">
        <a href="/"><img src="/images/fsl-logo-notext.png" alt="Home" /></a>
    </li>
    <li>
        <a href="/soon.shtml" data-path="about" itemprop="url" tabindex="1"><span itemprop="name">About</span></a>
        <ul class="submenu">
            <li><a href="/soon.shtml" itemprop="url" tabindex="1"><span itemprop="name">Mission Statement</span></a></li>
            <li><a href="/about/team.shtml" itemprop="url" tabindex="1"><span itemprop="name">Meet the Team</span></a></li>
            <li><a href="/soon.shtml" itemprop="url" tabindex="1"><span itemprop="name">Careers</span></a></li>
        </ul>
    </li>
    <li>
        <a href="/carriers.shtml" data-path="carriers" itemprop="url" tabindex="1"><span itemprop="name">Carriers</span></a>
        <ul class="submenu">
            <li><a href="/carriers.shtml" itemprop="url"><span itemprop="name">More Information</span></a></li>
            <li><a href="https://onboard.dat.com/fsl" itemprop="url" target="_blank"><span itemprop="name">Registration - "Grow with FSL"</span></a></li>
        </ul>
    </li>
    <li>
        <a href="/soon.shtml" data-path="services" itemprop="url" tabindex="1"><span itemprop="name">Services</span></a>
        <ul class="submenu">
            <li><a href="/soon.shtml" itemprop="url"><span itemprop="name">Request a Quote</span></a></li>
            <li><a href="/services/pickup.shtml" itemprop="url"><span itemprop="name">FCA Supplier Pick-up Request</span></a></li>
            <li><a href="/soon.shtml" itemprop="url"><span itemprop="name">3PL</span></a></li>
            <li><a href="/soon.shtml" itemprop="url"><span itemprop="name">Brokerage</span></a></li>
            <li><a href="/soon.shtml" itemprop="url"><span itemprop="name">Supply Chain Consultation</span></a></li>
        </ul>
    </li>
    <li><a href="/loads/" data-path="safety" itemprop="url" tabindex="1" class="apply-link"><i class="fa fa-map-signs color-orange"></i>&nbsp;<span itemprop="name">Available Loads</span></a></li>    
    <li><a href="/contact.shtml" data-path="contact" itemprop="url" tabindex="1"><span itemprop="name">Contact</span></a></li>
    <li class="show-on-sticky search">
        <a class="search-toggle" href="/search">
            <i class="fa fa-search fa-lg"></i>
        </a>
    </li>

</ul>